<ion-header [translucent]="true">
  <ion-toolbar style="background-color: #f6f7f9">
    <ion-buttons slot="start">
      <ion-button routerLink="">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-img style="height: 40px; margin-right: 14%" src="../assets/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(category){
  <ion-img style="height: 60px; margin: 10px auto; display: block; background-color: whitesmoke; width: 60px; border-radius: 10%;" [src]="category?.imgAsset"></ion-img>
  <h1 style="justify-content: center; padding: 5%;">{{category?.CategoryName}}</h1>
  }
  <!-- Loading -->
  <div *ngIf="loading" class="filter-loading">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </div>

  <!-- Vazio -->
  <div *ngIf="!loading && events.length === 0" class="filter-empty">
    <ion-icon name="search-outline"></ion-icon>
    <p>{{ emptyMessage }}</p>
  </div>

  <!-- Lista -->
  <ion-list *ngIf="!loading && events.length > 0" lines="none" class="filter-list">
    <ion-card *ngFor="let event of events" class="event-card" (click)="goToEventDetails(event?.eventsId)">
      <img [alt]="event?.eventName" [src]="event?.imgEvent" class="filter-img" />
      <ion-card-header>
        <ion-card-title>{{ event?.eventName }}</ion-card-title>
        <ion-card-subtitle>{{ event?.centerName }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
