<ion-header [translucent]="true">
  <ion-toolbar style="padding: 5px;">
    <ion-searchbar [formControl]="searchControl" color="light" placeholder="Procurar eventos"></ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ion-item *ngFor="let event of searchResults" (click)="goToEventDetails(event.eventsId)" >
      <ion-label>{{ event.eventName }}</ion-label>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-circle-outline" refreshingSpinner="circular">
    </ion-refresher-content>
  </ion-refresher>
  <h2 style="padding: 5px;">Eventos mais recentes</h2>
    <app-slides [events]="events" [title]="'recentes'"></app-slides>

<swiper-container
    [loop]="true"
    [pagination]="true"
    [slidesPerView]="2.5"
    [spaceBetween]="12">
  <swiper-slide *ngFor="let category of categorys" class="swiper-slide-custom">
    <ion-button size="large" shape="round" (click)="goToCategory(category.id)">
      <img [src]="category.imgAsset" class="category-img">
    </ion-button>
    <p class="category-text">{{ category.CategoryName }}</p>
  </swiper-slide>
</swiper-container>

<h2 style="padding: 5px;">Eventos mais favoritados</h2>

<app-slides [eventsBookmarks]="eventsBookmarks" [title]="'bookmarks'"></app-slides>


</ion-content>
